@{
    ViewData["Title"] = "Grundläggande Cloudapplikationer - Assignment 1 - Niklas Häll CLO24";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Assignment 1</h1><br>
    <p>This is a simple web application created with ASP.NET Core.</p>
    <p>It is hosted in Azure, using a VM sporting Ubuntu with Nginx, cool beans..</p>
    <p>My name is Niklas Häll and It will be your host for the evening. Enjoy!</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>